.share {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    box-shadow: 1px 2px 0px 0px rgba(149,162,166,0.43);
-webkit-box-shadow: 1px 2px 0px 0px rgba(149,162,166,0.43);
-moz-box-shadow: 1px 2px 0px 0px rgba(215, 221, 220, 0.43);

}
.shareWrapper {
    padding: 10px;
}
.sharetop {
     display: flex;
     align-items: center;
     gap: 15px;
     margin-bottom: 15px;
}
.shareInput {
    border: none;
    width: 80%;
  flex: 1;
  padding: 12px 15px;
  border-radius: 25px;
  background: #f0f2f5;
  font-size: 14px;
  outline: none;
  transition: all 0.3s;
}
.shareInput:focus{
    outline: none;

}
.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    margin-right: 10px;
    border: 1px solid #eee;
}
.shareHr {
    margin: 20px;
}
.shareInputImage {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: none;
}
.shareButton {
   display: flex;
   align-items: center;
   justify-content: center;
}
.shareOptions {
    display: flex;
    margin-left: 20px;
    gap: 15px; 
    margin: 10px;
    
}
.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    gap: 5px; 
}
.shareIcon {
    font-size: 18px;
    margin-right: 3px;

}
.shareOptionText {
    font-size: 14px;
    font-weight: 500;
}
.sharebutton {
    border: none;
    border-radius: 5px;
    background-color: green;
    font-weight: 400;
    padding: 10px;
    width: 50px;
    height: 3;
}
.shareImgPreview {
  margin-top: 10px;
  max-height: 300px;      
  overflow-y: auto;         
  margin-top: 10px;
  padding: 5px;
  position: relative;
}

.shareImgPreviewImg {
  width: 200px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
  display: flex;
  justify-self: center;
}

.shareCancelImg {
  position: absolute;
  top: 5px;
  color: #555;
  right: 5px;
  padding: 2px 6px;
  z-index: 2;
  border: none;
  font-size: 20px;
  cursor: pointer;
}