.resetContainer {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  width: 350px;
  margin: 20px;
  height: 300px;
  border-radius: 5px;
  background-color: rgb(235, 175, 175);
}

.resetBox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: 300px;
  background-color: white;
}

.resetBox input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.resetBox button {
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
}

.resetBox p {
  margin-top: 10px;
  color: green;
}
